id: 'office_wled_weekday_morning_on'
alias: Office WLED - Weekday 8 AM On
description: "Turn on the Office WLED at 8:00 AM on weekdays only"
mode: single
trigger:
  - platform: time
    at: '08:00:00'
conditions:
  - condition: time
    weekday:
      - mon
      - tue
      - wed
      - thu
      - fri
action:
  - service: light.turn_on
    target:
      entity_id: light.wled