id: 'living_room_light_1800_2300_80pct'
alias: Evening Living Room Light to 80%
description: "Between 6:00 PM and 11:00 PM every day, automatically turn on the Living Room Light to 80% brightness."
mode: single
trigger:
  - platform: time
    at: '18:00:00'
conditions:
  - condition: time
    after: '18:00:00'
    before: '23:00:00'
action:
  - service: light.turn_on
    target:
      entity_id: light.wled
    data:
      brightness_pct: 80