id: 'living_office_wled_brightness_follow'
alias: Living Room to Office WLED Brightness Follow
description: "Basic brightness-following automation between the Living Room and the Office WLED."
mode: restart
trigger:
  - platform: state
    entity_id: light.living_room_2
action:
  - delay: '00:00:02'
  - choose:
      - conditions:
          - condition: time
            after: '06:00:00'
            before: '18:00:00'
        sequence:
          - variables:
              office_brightness_pct: >-
                {{ 0 if states('light.wled') != 'on'
                   else ((state_attr('light.wled','brightness') or 0) / 255 * 100) | round(0) }}
          - condition: template
            value_template: "{{ office_brightness_pct < 70 }}"
          - service: light.turn_on
            target:
              entity_id: light.wled
            data:
              brightness_pct: 70
      - conditions:
          - condition: or
            conditions:
              - condition: time
                after: '18:00:00'
              - condition: time
                before: '06:00:00'
        sequence:
          - condition: state
            entity_id: light.living_room_2
            state: 'on'
          - variables:
              living_room_brightness_pct: >-
                {{ ((state_attr('light.living_room_2','brightness') or 0) / 255 * 100) | round(0) }}
          - condition: template
            value_template: "{{ living_room_brightness_pct > 60 }}"
          - variables:
              office_brightness_pct: >-
                {{ 0 if states('light.wled') != 'on'
                   else ((state_attr('light.wled','brightness') or 0) / 255 * 100) | round(0) }}
          - condition: template
            value_template: "{{ office_brightness_pct != 30 }}"
          - service: light.turn_on
            target:
              entity_id: light.wled
            data:
              brightness_pct: 30