id: 'office_wled_weekday_morning_on'
alias: Office WLED Weekday 8AM On
description: "Turn on the Office WLED light every weekday at 8:00 AM."
mode: single
trigger:
  - platform: time
    at: '08:00:00'
conditions:
  - condition: time
    weekday:
      - mon
      - tue
      - wed
      - thu
      - fri
action:
  - service: light.turn_on
    target:
      entity_id: light.wled