id: 'office_wled_weekday_morning_on'
alias: Office WLED Weekday 8AM On
description: "At 8:00 AM on weekdays, turn on the Office WLED at a consistent brightness."
mode: single
trigger:
  - platform: time
    at: '08:00:00'
conditions:
  - condition: time
    weekday:
      - mon
      - tue
      - wed
      - thu
      - fri
action:
  - service: light.turn_on
    target:
      entity_id: light.wled
    data:
      brightness_pct: 70