id: 'living_room_light_auto_dim_after_8pm'
alias: Living Room Light - Auto Dim After 8 PM
description: "When the Living Room Light is turned on after 20:00, dim it to 40% brightness"
mode: single
trigger:
  - platform: state
    entity_id: light.living_room_2
    from: 'off'
    to: 'on'
conditions:
  - condition: time
    after: '20:00:00'
action:
  - service: light.turn_on
    target:
      entity_id: light.living_room_2
    data:
      brightness: 102