id: 'living_room_evening_80_brightness'
alias: Living Room Evening Lights 80%
description: "Between 6 PM and 11 PM every day, turn on the Living Room light to 80% brightness."
mode: single
trigger:
  - platform: time
    at: '18:00:00'
conditions: []
action:
  - service: light.turn_on
    target:
      entity_id: light.living_room_2
    data:
      brightness_pct: 80