id: 'living_room_evening_80_brightness'
alias: Living Room Evening 80 Percent
description: "Between 6:00 PM and 11:00 PM every day, set Living Room light to 80% brightness at 6 PM"
mode: single
trigger:
  - platform: time
    at: '18:00:00'
conditions:
  - condition: time
    after: '18:00:00'
    before: '23:00:00'
action:
  - service: light.turn_on
    target:
      entity_id: light.living_room_2
    data:
      brightness_pct: 80