id: 'living_room_evening_80_brightness'
alias: Living Room Evening 80 Percent
description: "Between 6 PM and 11 PM every day, set Living Room light to 80% at 6 PM"
mode: single
trigger:
  - platform: time
    at: '18:00:00'
conditions: []
action:
  - service: light.turn_on
    target:
      entity_id: light.living_room_2
    data:
      brightness_pct: 80