id: 'living_room_evening_18_00'
alias: Living Room Evening Lights
description: "Between 6 PM and 11 PM every day, turn on the Living Room light to 80% brightness at 6 PM"
mode: single
trigger:
  - platform: time
    at: '18:00:00'
conditions:
  - condition: time
    after: '18:00:00'
    before: '23:00:00'
action:
  - service: light.turn_on
    target:
      entity_id: light.living_room_2
    data:
      brightness_pct: 80