id: 'office_wled_living_room_sequence_1'
alias: Office WLED triggers Living Room sequence
description: "When Office WLED turns on, sequence Living Room and Office brightness changes"
mode: single
trigger:
  - platform: state
    entity_id: light.wled
    from: 'off'
    to: 'on'
conditions: []
action:
  - delay: '00:00:02'
  - service: light.turn_on
    target:
      entity_id: light.living_room_2
    data:
      brightness: 179
  - delay: '00:00:03'
  - service: light.turn_on
    target:
      entity_id: light.wled
    data:
      brightness: 255