id: 'evening_living_room_80'
alias: Evening Living Room 80%
description: "Turn on Living Room light to 80% at 6 PM every day"
mode: single
trigger:
  - platform: time
    at: '18:00:00'
conditions: []
action:
  - service: light.turn_on
    target:
      entity_id: light.living_room_2
    data:
      brightness_pct: 80