id: 'living_room_office_wled_brightness_sync'
alias: Living Room to Office WLED Brightness Sync
description: "Straightforward brightness-sync automation between the Living Room and the Office WLED."
mode: restart
trigger:
  - platform: state
    entity_id: light.living_room_2
action:
  - variables:
      lr_brightness: "{{ state_attr('light.living_room_2', 'brightness') | int(0) }}"
      office_brightness: "{{ state_attr('light.wled', 'brightness') | int(0) }}"
      lr_brightness_pct: "{{ (lr_brightness / 255 * 100) | round(0) if lr_brightness > 0 else 0 }}"
      office_brightness_pct: "{{ (office_brightness / 255 * 100) | round(0) if office_brightness > 0 else 0 }}"
  - choose:
      - conditions:
          - condition: time
            after: '06:00:00'
            before: '18:00:00'
        sequence:
          - condition: template
            value_template: "{{ office_brightness_pct < 50 and office_brightness_pct != 70 }}"
          - delay: '00:00:02'
          - service: light.turn_on
            target:
              entity_id: light.wled
            data:
              brightness_pct: 70
      - conditions:
          - condition: or
            conditions:
              - condition: time
                after: '18:00:00'
              - condition: time
                before: '06:00:00'
        sequence:
          - condition: template
            value_template: "{{ lr_brightness_pct > 60 and office_brightness_pct != 30 }}"
          - delay: '00:00:02'
          - service: light.turn_on
            target:
              entity_id: light.wled
            data:
              brightness_pct: 30